// main: style.less

.about-air {
    width: 100%;
    padding: 60px 0;
    background: white;

    .two-columns-text {
        column-count: 2;
    }
}

.artists {
    width: 100%;
    padding: 60px 0;
    overflow: hidden;

    .artist-container {
        position: relative;
        width: 50%;
        height: 400px;
        float: left;
        display: flex;
        margin: 40px 0; 
        margin-bottom: 60px;
        flex-direction: column;
        justify-content: center;

        .artist-portrait {
            width: 40%;
            height: 100%;
            background: #AAA;
            filter: grayscale(0);
        }

        .artist-name {
            position: absolute;
            font-size: 42px;
            bottom: -30px;
            left: 20px;
            font-weight: 900;
            color: white;
            text-shadow: 0 0 4px rgba(0,0,0, .4);
        }

        .artist-katakana-name {
            position: absolute;
            font-size: 22px;
            bottom: -60px;
            left: 20px;
            font-weight: 600;
            color: @dark_text_color;
            //text-shadow: 0 0 4px rgba(0,0,0, .4);          
        }

        .artist-infos {
            position: absolute;
            width: 60%;
            height: 390px;
            left: 40%;
            top: -30px;
            padding: 10px;
            box-sizing: border-box;
            line-height: 1.8em;
            font-weight: 100;
            font-size: 1.1em;

            p {
                margin: 0;
                writing-mode: vertical-rl;
                text-orientation: upright;
            }
        }
    }
}