// main: style.less

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 60px 0;

    .listed-article-container {
        position: relative;
        display: inline-block;
        width: 49%;
        padding: 10px;
        box-sizing: border-box;
    
        .article-card {
            position: relative;
            width: 100%;
            height: 100%;
            background: white;
            box-shadow: 0 0 2px rgba(0,0,0,.4);
            border-radius: 8px;
            overflow: hidden;
    
            .header-image {
                display: block;
                position: relative;
                width: 100%;
                height: 200px;
                background: #222;
    
                .background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .card-body {
                position: relative;
                padding: 20px;
                padding-top: 40px;
                box-sizing: border-box;

                .author-container {
                    position: absolute;
                    left: 25px;
                    top: -17px;
                    height: 36px;
                    line-height: 36px;
                    padding-right: 10px;
                    padding-left: 60px;
                    border-radius: 8px;
                    background: white;
                    box-shadow: 0 0 2px rgba(0,0,0,.4);
                    font-weight: 600;
                    font-size: 14px;
                    color: black;
    
                    .author-portrait {
                        position: absolute; 
                        display: inline-block;
                        width: 55px;
                        height: 55px;
                        top: -10px;
                        left: -12px;
                        background: #666;
                        border: 2Px solid white;
                        box-shadow: 0 0 2px rgba(0,0,0,.4);
                        border-radius: 50%;
                    }
                }
    
                .article-title {
                    margin: 0;
                    font-size: 28px;
                    color: inherit;
                    font-weight: 600;
                }
    
                p {
                    margin-top: 20px;
                    margin-bottom: 25px;
                }
    
                .vueform-btn {
                    margin-bottom: 20px;
                }
            }

            .vueform-btn {
                display: inline-block;
                padding: 8px 15px;
                font-size: 14px;
                border: 2px solid @green;
                color: @green;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                border-radius: 8px;
            
                &::selection {
                    background: none;
                }
            
                &:hover {
                    background: @green;
                    color: white;
                    transition: .3s;
                }
            
                &.filled {
                    background: @green;
                    color: white;
            
                    &:hover {
                        background: darken(@green, 10%);
                        border: 2px solid darken(@green, 10%);
                        transition: .3s;            
                    }
                }
            
                &.disabled {
                    filter: grayscale(1);
                    pointer-events: none;
                }
            }
            
        }
    }

    .post-featured-image {
        display: block;
        flex: 1;
        width: 60%;
        height: 400px;
        background: #222;
    }

    .post-details {
        flex: 1;
        padding: 40px 20px;
        box-sizing: border-box;
        position: absolute;
        left: 30%;
        width: 70%;
        background: white;  
        box-shadow: 0 0 2px rgba(0,0,0,.3); 

        .post-title {
            display: block;
            color: inherit;
            margin-top: 0;
            font-size: 34px;
            text-transform: uppercase;
            font-weight: 900;
            margin-bottom: 10px;
        }

        .metadatas {
            font-weight: 600;        
        }

        p {
            margin-bottom: 10px;
        }
    }

    &.right {
        .post-featured-image {
            align-self: flex-end;
        }
        .post-details {
            left: auto;
            right: 30%;
        }
    }
}

@media screen and (max-width: 660px) {
    .container {
        padding: 10px 0;

        .listed-post-container {
            display: block;
            margin: 20px 0;

            .post-featured-image {
                flex: 0;
                display: block;
                width: 100%;
                height: 200px;
            }

            .post-details{
                flex: 0;
                display: block;
                position: relative;
                left: 0;
                width: 100%;
            }

            &.right {
                
                .post-details {
                    right: 0;
                }
            }
        }
    }
}

.single-post-container {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    background: white;

    .container {
        max-width: 760px;
        font-size: 18px;

        p:first-of-type {
            &:first-child:first-letter {
                color: lighten(@dark_text_color, 30%);
                float: left;
                font-family: Georgia, serif;
                font-size: 48px;
                line-height: 48px;
                padding-top: 0px;
                padding-right: 8px;
                padding-left: 3px;
            }
        }

        figure.wp-block-image {

            &.jumbo {
                width: 120%;
                margin-left: -10%;
            }

            &.alignleft.overflow {
                margin-left: -10%;
            }
        }

        @media screen and (max-width: 960px) {
            figure.wp-block-image {

                &.jumbo, &.alignleft.overflow {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}

.post-navigation-container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;

    .previous-post-container {
        position: relative;
        flex: 1;
        width: 50%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;

    }

    .next-post-container {
        position: relative;
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;
        
    }

    .background {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        filter: brightness(.7);
    }

    .top-label {
        position: relative;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }

    h3 {
        position: relative;
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-top: 10px;
    }
}
