// main: style.less

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: @blueish_white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.content-area,
.site-main {
  width: 100%;
  height: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: lighten(#74b9ff, 10%);

  &:hover {
    color: lighten(#74b9ff, 20%);
  }
}

.ghost-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  border: 2px solid @dark_text_color;
  transition: .2s;
  color: #2c3e50;
  cursor: pointer;

  &:hover {
    background: @dark_text_color;
    color: white;
    transition: .3s;
  }
}

.small-menu-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: .2s;
  }

  .small-menu-trigger {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 58px;
    color: white;
    opacity: 1;
    font-size: 32px;
    cursor: pointer;
  }

  .small-menu {

    ul {
      margin: 0;
      padding-left: 20px;
      border-left: 2px solid #ccc;

      li {
        list-style: none;
        line-height: 2em;

        a {
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        ul {
          padding-left: 20px;
          font-size: 14px;
          margin: 10px 0;
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 60px 0;
  background: #353b48;

  .site-credits {
    color: white;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
  }
}