// main: style.less

.page-hero {
  position: relative;
  width: 100%;
  height: 90vh;
  // max-height: 400px;
  background: #353b48;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.small-hero {
    height: 40vh;
  }

  .scroll-downs {
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 6px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
    }

    10% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(.7);
    opacity: 0;

    &.loaded {
      opacity: 1;
      transition-property: opacity;
      transition-delay: .5s;
      transition-duration: .5s;
    }
  }

  .content {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;

    .subtitle {
      font-size: 22px;
      text-transform: uppercase;

    }

    h1 {
      font-family: 'Oswald', sans-serif;
      margin-top: 0;
      font-size: 68px;
      font-weight: 900;
      margin-bottom: 0;
    }

    .subtitle {
      text-transform: none;
      margin-top: 20px;
      font-size: 16px;
    }

    .se-logo {
      width: 100px;
    }
  }
}

.page-top-bar {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 60px;
  transition: .3s;

  .branding {
    float: left;
    line-height: 60px;

    img {
      width: 60px;
    }
  }

  .page-nav {
    float: right;
    color: white;
    margin-left: 20px;
    transition: .3s;
    margin-right: 20px;

    li {
      display: inline-block;
      list-style: none;
      line-height: 58px;
      font-weight: 300;
      margin: 0 5px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;

      a {
        display: inline-block;
        color: white;
        transition: .3s;
        line-height: 58px;
        opacity: .8;
      }

      &.current-menu-item,
      &:hover {

        a {
          opacity: 1;
        }
      }

      .sub-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, .7);
        color: white;
        margin-top: -5px;
        background-clip: content-box;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        border-radius: 3px;

        li {
          padding: 10px 10px;
          display: block;
          line-height: 1em;
          font-size: .9em;

          a {
            color: white;
            line-height: 1em;
          }

          &:first-of-type {
            padding-top: 20px;
          }

          &:last-of-type {
            padding-bottom: 20px;
          }
        }
      }

      &:hover {

        .sub-menu {
          visibility: visible;
          opacity: 1;
          transition: .3s;
        }
      }
    }

    .small-menu-trigger {
      display: none;
    }

    @media screen and (max-width: 660px) {
      .menu-main-menu-container {
        display: none;
      }

      .small-menu-trigger {
        display: block;
        line-height: 58px;
        color: white;
        opacity: 1;
        font-size: 32px;
        cursor: pointer;
      }
    }
  }

  .language-switcher {
    float: right;
    color: white;
    margin-right: 20px;
    display: none;

    .current-language {
      display: inline-block;
      list-style: none;
      height: 58px;
      display: flex;
      align-items: center;
      padding: 0 0px;
      font-weight: 300;

      .ghost-btn {
        border: 2px solid white;
        border-radius: 8px;
        padding: 8px 10px;
        line-height: 1em;
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 6px;
      }

      a {
        color: white;
      }
    }

    @media screen and (max-width: 660px) {
      display: none;
    }
  }

  &.sticky {
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    transition: .3s;

    .branding {
      padding: 0;
      transition: .3s;

      img {
        width: 60px;
        transition: .3s;
      }
    }

    .page-nav,
    .language-switcher {
      color: inherit;
      transition: .3s;

      li {

        a {
          color: @dark_text_color;
          transition: .3s;
        }

        &.active {
          border-bottom: 2px solid @dark_text_color;
        }
      }

      .current-language {

        .ghost-btn {
          border: 2px solid @dark_text_color;
        }
      }
    }
  }
}

.mailing-list {
  width: 100%;
  padding: 60px 0;
  background: @blueish_white;
  text-align: center;

  &.white {
    background: white;
  }

  .ghost-btn {
    margin-top: 40px;
  }
}